@page
@model ClientV2.Pages.Menu.Index

<div class="content content_no-width">
    <div class="content__wrapper w-100">
        <div class="search">
            <input class="search__input"/>
        </div>
        <div class="categories">
            <div class="category">наборы</div>
            <div class="category">опции</div>
        </div>
        <div class="dish-container-wrapper">
            <div class="dish-container">
                <div class="dish-container__dish">
                    <img class="dish-container__dish-img" src="~/images/dish.png"/>
                    <div class="dish-container__dish-description">Суп "Название"</div>
                    <div class="dish-container__dish-description">Салат "Название"</div>
                    <div class="dish-container__dish-description">Второе</div>
                    <span class="dish-container__dish-price">240 ₽</span>
                    <img class="dish-container__basket-icon" src="~/images/basket.png"/>
                </div>
            </div>
        </div>
    </div>
</div>