@page "{handler?}"
@model ClientV2.Pages.Menu.Index

@{
    ViewData["Title"] = "Меню";
}

<div class="content content_no-width">
    <div class="content__wrapper w-100">
        <div class="search">
            <input class="search__input"/>
        </div>
        <div class="categories">
            <button class="category" data-toggle="lunchsets" data-url="@Url.Page("Index", "LunchSetsPartial")">наборы</button>
            <button class="category" data-toggle="options">опции</button>
        </div>
        <div class="dish-container-wrapper">
            <div class="dish-container" id="menu-placeholder">
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="js/menu.js" type="application/javascript" asp-append-version="true"></script>