@page
@model ClientV2.Pages.Menu.NotReady

@{
    ViewData["Title"] = "Меню не готово";
}

<body>
<main class="container">
    <div class="content flex-column">
        <div class="subtitle subtitle_center">Мы еще составляем меню!</div>
        <div class="subtitle subtitle_center">Вернитесь позже</div>
        <img class="img-btm" src="~/images/menu_not_ready.png"/>
    </div>
</main>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>