@page
@model ClientV2.Pages.Menu.NotReady

@{
    ViewData["Title"] = "Время для заказа истекло";
}

<body>
<main class="container">
    <div class="content flex-column">
        <div class="subtitle subtitle_center">Время для заказов завершено!</div>
        <div class="subtitle subtitle_center">Ждем вас завтра</div>
        <img class="img-btm" src="~/images/order_time_out.png"/>
    </div>
</main>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>