@model List<ClientV2.Apis.OrderDto>

<div class="orders-header">
    <span>Пользователь</span>
    <span>Информация о заказе</span>
    <span>Сумма</span>
</div>
<div class="scroll-container-wrapper">
    <div class="scroll-container">
        <div class="order">
            <div class="order__user">ФИО сотрудника</div>
            <div class="order__dishes">
                <div class="order__dish">Комбо набор №1</div>
                <div class="order__dish">Комбо набор №1</div>
            </div>
            <div class="order__costs">
                <div class="order__item-cost">240 P</div>
                <div class="order__item-cost">240 P</div>
                <div class="order__item-cost order__item-cost_total">
                    <span class="order__item-cost_margin-30">Итого:</span>
                    <span>480 P</span>
                </div>
            </div>
        </div>
    </div>
</div>
