@page "{handler?}"
@model ClientV2.Pages.Report.Orders

@{
    ViewData["Title"] = "Детализация заказов";
}

<div class="content">
    <div class="content__wrapper">
        <div class="monitoring">
            <form asp-page="Orders" id="date-form" asp-page-handler="OrderDetails">
                <input class="monitoring__search soft-rect" placeholder="Поиск..."/>
                <input type="date" id="date" class="date soft-rect" asp-for="DateSearch"/>
            </form>
            <div id="orders-placeholder" data-url="@Url.Page("Orders", "OrderDetails")"></div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/orders.js" type="application/javascript" asp-append-version="true"></script>
