@page
@model ClientV2.Pages.Account.ConfirmationEmailSended

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Подтверждение email</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Для завершения регистрации подтвердите свой электронный адрес с помощью ссылки, отправленной в письме вам на почту.</p>
    </div>
</div>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>