@page
@model MenusHistory

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div class="container">
    <form method="post">
        <div class="mt-4 col-4 mx-auto">
            <div class="card-deck ms-auto text-center">
                @foreach (var menu in Model.Menus)
                {
                    <div id="@menu.Id.ToString()-card" class="card menu mb-4">
                        <div class="card-body p-0" role="button">

                            <button class="btn btn-lg w-100" id="@menu.Id.ToString()" type="submit" value="@menu.Date.ToString("yyyy-MM-dd")" name="MenuDate">
                                @menu.Date.ToString("dd MMMM")
                            </button>

                        </div>
                    </div>
                }
            </div>
        </div>
    </form>
</div>
</body>
</html>