@page
@model ClientV2.Pages.Cart.Empty

@{
    ViewData["Title"] = "Корзина пуста";
}

<div class="content">
    <div class="content__wrapper">
        <div class="subtitle subtitle_center">Ваша корзина пуста!</div>
        <img class="img-btm" src="~/images/empty_basket.png"/> 
    </div>
</div>

