@model ClientV2.Pages.Team.PaymentInfo

<div class="modal fade" id="editPayment" tabindex="-1" role="dialog" aria-labelledby="editPaymentModal" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addContactLabel">Информация для перевода</h5>
            </div>
            <div class="modal-body d-flex flex-column">
                <form asp-page="Index" asp-page-handler="PaymentModalPartial">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()"/>
                    <div class="mb-3">
                        <label class="form-label">Загрузите QR-код</label>
                        <input class="form-control" asp-for="FormFile" type="file">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Информация для оплаты</label>
                        <input class="form-control" asp-for="Link" type="text"/>
                        <span asp-validation-for="Link" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Коментарий</label>
                        <input class="form-control" asp-for="Description" type="text">
                    </div>
                </form>
                <button type="button" class="form__submit-button mt-3 " data-save="modal">Сохранить</button>
            </div>
        </div>
    </div>
</div>